USE [A2ZCSMCUS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_CSDeleteInterestAmount]    Script Date: 1/4/2018 1:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[Sp_CSDeleteInterestAmount](@AccType INT,@FuncOpt SMALLINT)  


AS

BEGIN

DECLARE @trnDate smalldatetime;

SET @trnDate = (SELECT ProcessDate FROM A2ZCSPARAMETER);

--UPDATE A2ZACCOUNT SET A2ZACCOUNT.AccProvBalance = A2ZACCOUNT.AccPrevProvBalance,
--A2ZACCOUNT.AccProvCalDate = A2ZACCOUNT.AccPrevProvCalDate
--FROM A2ZACCOUNT,WFCSPROVISIONCPS
--WHERE A2ZACCOUNT.AccType = WFCSPROVISIONCPS.AccType AND A2ZACCOUNT.AccNo = WFCSPROVISIONCPS.AccNo AND 
--A2ZACCOUNT.CuType = WFCSPROVISIONCPS.CuType AND A2ZACCOUNT.CuNo = WFCSPROVISIONCPS.CuNo AND 
--A2ZACCOUNT.MemNo = WFCSPROVISIONCPS.MemNo;

DELETE FROM A2ZTRANSACTION  WHERE AccType = @AccType AND FuncOpt = @FuncOpt AND TrnDate = @trnDate;

DELETE FROM WFCSINTEREST  WHERE AccType = @AccType;

--TRUNCATE TABLE WFCSINTEREST;

END;





GO
