USE [A2ZCSMCUS]
GO
/****** Object:  StoredProcedure [dbo].[SP_CUTABLEDATECONVERT]    Script Date: 1/4/2018 1:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_CUTABLEDATECONVERT]
AS
BEGIN

INSERT INTO A2ZCSMCUS.dbo.A2ZCUNION(CuNo,CuName,CuOpDt,CuFlag,CuType,CuCertNo,CuAddL1,CuAddL2,CuAddL3,CuEmail)
SELECT CUNO,CUNAME,CUOPDT,CUMEMFLAG,CUTYPE,CUCERTNO,CUADDL1,CUADDL2,CUADDL3,CUEMAIL
FROM A2ZCCULB.dbo.A2ZCRUNION

END


GO
