USE [A2ZCSMCUS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_rptCSLedgerBalance]    Script Date: 1/4/2018 1:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
EXECUTE Sp_rptCSLedgerBalance 
*/


CREATE PROCEDURE [dbo].[Sp_rptCSLedgerBalance] 
AS
BEGIN

SELECT     TOP (100) PERCENT dbo.A2ZACCOUNT.CuType, dbo.A2ZACCOUNT.CuNo, dbo.A2ZACCOUNT.AccType, CAST(dbo.A2ZACCOUNT.AccNo AS VARCHAR(16)) as AccNo, dbo.A2ZACCOUNT.MemNo, 
                      dbo.A2ZACCOUNT.AccOpenDate, dbo.A2ZACCOUNT.AccStatus, dbo.A2ZACCOUNT.AccBalance, dbo.A2ZACCSTATUS.AccStatusDescription, 
                      dbo.A2ZACCOUNT.AccLastTrnDateU, dbo.A2ZCUNION.CuName,dbo.A2ZCUNION.GLCashCode, dbo.A2ZMEMBER.MemName, dbo.A2ZACCOUNT.AccOpBal
FROM         dbo.A2ZACCOUNT INNER JOIN
                      dbo.A2ZCUNION ON dbo.A2ZACCOUNT.CuType = dbo.A2ZCUNION.CuType AND dbo.A2ZACCOUNT.CuNo = dbo.A2ZCUNION.CuNo LEFT OUTER JOIN
                      dbo.A2ZMEMBER ON dbo.A2ZACCOUNT.CuType = dbo.A2ZMEMBER.CuType AND dbo.A2ZACCOUNT.CuNo = dbo.A2ZMEMBER.CuNo AND 
                      dbo.A2ZACCOUNT.MemNo = dbo.A2ZMEMBER.MemNo LEFT OUTER JOIN
                      dbo.A2ZACCSTATUS ON dbo.A2ZACCOUNT.AccStatus = dbo.A2ZACCSTATUS.AccStatusCode
ORDER BY dbo.A2ZACCOUNT.CuType, dbo.A2ZACCOUNT.CuNo

END

GO
