USE [A2ZCSMCUS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_CSDeleteTransferMonthlyBenefit]    Script Date: 1/4/2018 1:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[Sp_CSDeleteTransferMonthlyBenefit](@AccType INT,@VchNo nvarchar(20))  


AS

BEGIN

DECLARE @trnDate smalldatetime;

SET @trnDate = (SELECT ProcessDate FROM A2ZCSPARAMETER);

UPDATE A2ZACCOUNT SET A2ZACCOUNT.AccProvBalance = A2ZACCOUNT.AccPrevProvBalance                         
FROM A2ZACCOUNT,WFCSMONTHLYBENEFITCREDIT
WHERE A2ZACCOUNT.AccType = WFCSMONTHLYBENEFITCREDIT.AccType AND A2ZACCOUNT.AccNo = WFCSMONTHLYBENEFITCREDIT.AccNo AND 
A2ZACCOUNT.CuType = WFCSMONTHLYBENEFITCREDIT.CuType AND A2ZACCOUNT.CuNo = WFCSMONTHLYBENEFITCREDIT.CuNo AND 
A2ZACCOUNT.MemNo = WFCSMONTHLYBENEFITCREDIT.MemNo;

UPDATE A2ZACCOUNT SET A2ZACCOUNT.AccAdjProvBalance = WFCSMONTHLYBENEFITCREDIT.AccAdjProvBalance                         
FROM A2ZACCOUNT,WFCSMONTHLYBENEFITCREDIT
WHERE A2ZACCOUNT.AccType = WFCSMONTHLYBENEFITCREDIT.AccType AND A2ZACCOUNT.AccNo = WFCSMONTHLYBENEFITCREDIT.AccNo AND 
A2ZACCOUNT.CuType = WFCSMONTHLYBENEFITCREDIT.CuType AND A2ZACCOUNT.CuNo = WFCSMONTHLYBENEFITCREDIT.CuNo AND 
A2ZACCOUNT.MemNo = WFCSMONTHLYBENEFITCREDIT.MemNo;

DELETE FROM A2ZTRANSACTION  WHERE VchNo = @VchNo AND FuncOpt = 21 AND TrnDate = @trnDate;

TRUNCATE TABLE WFCSMONTHLYBENEFITCREDIT;

END;











GO
