USE [A2ZCSMCUS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_CSDeleteProvision6YR]    Script Date: 1/4/2018 1:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Sp_CSDeleteProvision6YR](@AccType INT,@FuncOpt SMALLINT)  


AS

BEGIN

DECLARE @trnDate smalldatetime;

SET @trnDate = (SELECT ProcessDate FROM A2ZCSPARAMETER);

UPDATE A2ZACCOUNT SET A2ZACCOUNT.AccProvBalance = A2ZACCOUNT.AccPrevProvBalance,
A2ZACCOUNT.AccProvCalDate = A2ZACCOUNT.AccPrevProvCalDate
FROM A2ZACCOUNT,WFCSPROVISION6YR
WHERE A2ZACCOUNT.AccType = WFCSPROVISION6YR.AccType AND A2ZACCOUNT.AccNo = WFCSPROVISION6YR.AccNo AND 
A2ZACCOUNT.CuType = WFCSPROVISION6YR.CuType AND A2ZACCOUNT.CuNo = WFCSPROVISION6YR.CuNo AND 
A2ZACCOUNT.MemNo = WFCSPROVISION6YR.MemNo;

DELETE FROM A2ZTRANSACTION  WHERE AccType = @AccType AND FuncOpt = @FuncOpt AND TrnDate = @trnDate;

TRUNCATE TABLE WFCSPROVISION6YR;

END;


GO
