USE [A2ZCSMCUS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_CSUpdateUPTOProvisionCPS]    Script Date: 1/4/2018 1:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Sp_CSUpdateUPTOProvisionCPS](@VoucherNo nvarchar(20),@VchNo nvarchar(20), @FromCashCode int)  

AS
--EXECUTE Sp_CSUpdateUPTOProvisionCPS 1,ProvisionCPS,10101001

BEGIN


BEGIN TRY
	BEGIN TRANSACTION
		SET NOCOUNT ON


--------------- NOPRMAL TRANSACTION ------------
INSERT INTO A2ZTRANSACTION (TrnDate,VchNo,VoucherNo,CuType,CuNo,MemNo,AccType,AccNo,TrnCode,FuncOpt,PayType,TrnType,TrnDrCr,TrnDebit,
TrnCredit,TrnDesc,ShowInterest,TrnCSGL,TrnGLAccNoDr,TrnGLAccNoCr,GLAccNo,GLAmount,GLDebitAmt,GLCreditAmt,TrnFlag,FromCashCode,TrnModule,TrnSysUser,UserID)

SELECT TrnDate,@VchNo,@VoucherNo,CuType,CuNo,MemNo,AccType,AccNo,TrnCode,FuncOpt,PayType,TrnType,1,0,
CurrMthProvision,TrnDesc,ShowInterest,0,TrnGLAccNoDr,TrnGLAccNoCr,TrnGLAccNoCr,CurrMthProvision,0,CurrMthProvision,0,@FromCashCode,1,1,UserID
FROM WFCSPROVISIONCPS;
--------------- END OF NOPRMAL TRANSACTION ------------

--------------- CONTRA TRANSACTION ------------
INSERT INTO A2ZTRANSACTION (TrnDate,VchNo,VoucherNo,CuType,CuNo,MemNo,AccType,AccNo,TrnCode,FuncOpt,PayType,TrnType,TrnDrCr,
TrnDebit,TrnCredit,TrnDesc,ShowInterest,TrnCSGL,TrnGLAccNoDr,TrnGLAccNoCr,GLAccNo,GLAmount,GLDebitAmt,GLCreditAmt,TrnFlag,FromCashCode,TrnModule,TrnSysUser,UserID)

SELECT TrnDate,@VchNo,@VoucherNo,CuType,CuNo,MemNo,AccType,AccNo,TrnCode,FuncOpt,PayType,TrnType,0,CurrMthProvision,
0,TrnDesc,ShowInterest,0,TrnGLAccNoDr,TrnGLAccNoCr,TrnGLAccNoDr,CurrMthProvision,CurrMthProvision,0,1,@FromCashCode,1,1,UserID
FROM WFCSPROVISIONCPS;
--------------- END OF CONTRA TRANSACTION ------------

----------------- UPDATE A2ZACCOUNT FILE --------------------
UPDATE A2ZACCOUNT SET A2ZACCOUNT.AccPrevProvBalance = A2ZACCOUNT.AccProvBalance,
A2ZACCOUNT.AccPrevProvCalDate = A2ZACCOUNT.AccProvCalDate,
A2ZACCOUNT.AccProvBalance = A2ZACCOUNT.AccProvBalance + WFCSPROVISIONCPS.CurrMthProvision,
A2ZACCOUNT.AccProvCalDate = WFCSPROVISIONCPS.CalTillDate
FROM A2ZACCOUNT,WFCSPROVISIONCPS
WHERE A2ZACCOUNT.AccType = WFCSPROVISIONCPS.AccType AND A2ZACCOUNT.AccNo = WFCSPROVISIONCPS.AccNo AND 
A2ZACCOUNT.CuType = WFCSPROVISIONCPS.CuType AND A2ZACCOUNT.CuNo = WFCSPROVISIONCPS.CuNo AND 
A2ZACCOUNT.MemNo = WFCSPROVISIONCPS.MemNo;
----------------- END OF UPDATE A2ZACCOUNT FILE --------------------

UPDATE WFCSPROVISIONCPS SET WFCSPROVISIONCPS.ProcStat = 3;
UPDATE WFCSPROVISIONCPS SET WFCSPROVISIONCPS.VoucherNo = @VoucherNo;

COMMIT TRANSACTION
		SET NOCOUNT OFF
END TRY

BEGIN CATCH
		ROLLBACK TRANSACTION

		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT
		DECLARE @ErrorMessage NVARCHAR(4000);	  
		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();	  
		RAISERROR 
		(
			@ErrorMessage, -- Message text.
			@ErrorSeverity, -- Severity.
			@ErrorState -- State.
		);	
END CATCH

END

GO
