USE [A2ZCSMCUS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_CSAccountConversion1]    Script Date: 1/4/2018 1:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE  [dbo].[Sp_CSAccountConversion1]


AS
BEGIN

/*

EXECUTE Sp_CSAccountConversion1

*/


DECLARE @CuType INT;
DECLARE @CuNo INT;



DECLARE @memNo INT;
DECLARE @accType INT;
DECLARE @accNo BIGINT;


TRUNCATE TABLE A2ZACCOUNT;


DECLARE wfAccTable CURSOR FOR
SELECT CuType,CuNo 
FROM WFCUNO;

			
OPEN wfAccTable; 
FETCH NEXT FROM wfAccTable INTO @CuType,@CuNo; 
WHILE @@FETCH_STATUS = 0 
BEGIN
      
      INSERT INTO A2ZCSMCUS.dbo.A2ZACCOUNT(AccType,AccNo,CuType,CuNo,MemNo,AccOpenDate,AccSpecialNote,AccStatus,AccStatusDate,AccStatusP,AccBalance,AccOpeningBal,AccLastTrnDateU,OldCuNo) 
      SELECT ACCTYPE,ACCNO,CUNO,CUNO,MEMNO,ACCOPENDT,ACCSPDESC,ACCSTAT,ACCSTATDT,ACCPSTAT,ACCBALANCE,ACCOPBAL,ACCLASTDT,CUNO 
      FROM A2ZCCULB.dbo.A2ZACC11 
      WHERE CUNO = @CuNo;

      INSERT INTO A2ZCSMCUS.dbo.A2ZACCOUNT(AccType,AccNo,CuType,CuNo,MemNo,AccOpenDate,AccSpecialNote,AccStatus,AccStatusDate,AccStatusP,AccBalance,AccOpeningBal,AccLastTrnDateU,OldCuNo) 
      SELECT ACCTYPE,ACCNO,CUNO,CUNO,MEMNO,ACCOPENDT,ACCSPDESC,ACCSTAT,ACCSTATDT,ACCPSTAT,ACCBALANCE,ACCOPBAL,ACCLASTDT,CUNO 
      FROM A2ZCCULB.dbo.A2ZACC12 
      WHERE CUNO = @CuNo;

      INSERT INTO A2ZCSMCUS.dbo.A2ZACCOUNT(AccType,AccNo,CuType,CuNo,MemNo,AccOpenDate,AccSpecialNote,AccStatus,AccStatusDate,AccStatusP,AccBalance,AccOpeningBal,AccLastTrnDateU,OldCuNo) 
      SELECT ACCTYPE,ACCNO,CUNO,CUNO,MEMNO,ACCOPENDT,ACCSPDESC,ACCSTAT,ACCSTATDT,ACCPSTAT,ACCBALANCE,ACCOPBAL,ACCLASTDT,CUNO 
      FROM A2ZCCULB.dbo.A2ZACC13 
      WHERE CUNO = @CuNo;
                 
      INSERT INTO A2ZCSMCUS.dbo.A2ZACCOUNT(AccType,AccNo,CuType,CuNo,MemNo,AccOpenDate,AccSpecialNote,AccStatus,AccStatusDate,AccStatusP,AccBalance,AccOpeningBal,AccLastTrnDateU,AccMonthlyDeposit,AccPeriod,AccTotalDep,OldCuNo) 
      SELECT ACCTYPE,ACCNO,CUNO,CUNO,MEMNO,ACCOPENDT,ACCSPDESC,ACCSTAT,ACCSTATDT,ACCPSTAT,ACCBALANCE,ACCOPBAL,ACCLASTDT,ACCMTHDEP,ACCPERIOD,ACCTOTDEP,CUNO 
      FROM A2ZCCULB.dbo.A2ZACC14 
      WHERE CUNO = @CuNo;

      INSERT INTO A2ZCSMCUS.dbo.A2ZACCOUNT(AccType,AccNo,CuType,CuNo,MemNo,AccOpenDate,AccCertNo,AccStatus,AccStatusDate,AccStatusP,AccBalance,AccOpeningBal,AccLastTrnDateU,AccPeriod,AccIntFlag,AccMatureDate,AccIntType,AccIntRate,AccPrincipal,AccOrgAmt,AccRenwlDate,AccRenwlAmt,AccPrevRenwlAmt,AccIntWdrawn,AccPrevIntWdrawn,AccNoAnni,AccNoRenwl,AccLastIntCr,OldCuNo) 
      SELECT ACCTYPE,ACCNO,CUNO,CUNO,MEMNO,ACCOPENDT,ACCSPDESC,ACCSTAT,ACCSTATDT,ACCPSTAT,ACCBALANCE,ACCOPBAL,ACCLASTDT,ACCPERIOD,ACCINTFLAG,ACCMATDT,ACCINTYPE,ACCINTRATE,ACCPRINCIPAL,ACCORGAMT,ACCLASTDT,ACCPRINCIPAL,ACCPRENWAMT,ACCINTWDRL,ACCPINTWDRL,ACCNOFANNI,ACCNOFRENW,ACCLASTINTCR,CUNO 
      FROM A2ZCCULB.dbo.A2ZACC15 
      WHERE CUNO = @CuNo;
       
      INSERT INTO A2ZCSMCUS.dbo.A2ZACCOUNT(AccType,AccNo,CuType,CuNo,MemNo,AccOpenDate,AccCertNo,AccStatus,AccStatusDate,AccStatusP,AccBalance,AccOpeningBal,AccLastTrnDateU,AccPeriod,AccIntFlag,AccMatureDate,AccIntRate,AccPrincipal,AccOrgAmt,AccRenwlDate,AccAnniDate,AccRenwlAmt,AccNoAnni,AccNoRenwl,OldCuNo) 
      SELECT ACCTYPE,ACCNO,CUNO,CUNO,MEMNO,ACCOPENDT,ACCSPDESC,ACCSTAT,ACCSTATDT,ACCPSTAT,ACCBALANCE,ACCOPBAL,ACCLASTDT,ACCPERIOD,ACCINTFLAG,ACCMATDT,ACCINTRATE,ACCPRINCIPAL,ACCORGAMT,ACCRENWDT,ACCLASTDT,ACCPRINCIPAL,ACCNOFANNI,ACCNOFRENW,CUNO 
      FROM A2ZCCULB.dbo.A2ZACC16 
      WHERE CUNO = @CuNo; 

      INSERT INTO A2ZCSMCUS.dbo.A2ZACCOUNT(AccType,AccNo,CuType,CuNo,MemNo,AccOpenDate,AccSpecialNote,AccStatus,AccStatusDate,AccStatusP,AccBalance,AccOpeningBal,AccLastTrnDateU,AccPeriod,AccMatureDate,AccIntType,AccPrincipal,AccOrgAmt,AccFixedAmt,AccFixedMthInt,AccBenefitDate,AccRenwlAmt,AccPrevRenwlAmt,AccIntWdrawn,AccPrevIntWdrawn,AccTotIntWdrawn,AccNoAnni,AccNoRenwl,AccLastIntCr,OldCuNo) 
      SELECT ACCTYPE,ACCNO,CUNO,CUNO,MEMNO,ACCOPENDT,ACCSPDESC,ACCSTAT,ACCSTATDT,ACCPSTAT,ACCBALANCE,ACCOPBAL,ACCLASTDT,ACCPERIOD,ACCMATDT,ACCINTYPE,ACCPRINCIPAL,ACCORGAMT,ACCORGAMT,ACCINTRATE,ACCINTDT,ACCRENWAMT,ACCPRENWAMT,ACCINTWDRL,ACCPINTWDRL,ACCINTWDRLT,ACCNOFANNI,ACCNOFRENW,ACCLASTINTCR,CUNO 
      FROM A2ZCCULB.dbo.A2ZACC17 
      WHERE CUNO = @CuNo;    
         

      INSERT INTO A2ZCSMCUS.dbo.A2ZACCOUNT(AccType,AccNo,CuType,CuNo,MemNo,AccOpenDate,AccSpecialNote,AccStatus,AccStatusDate,AccStatusP,AccBalance,AccOpeningBal,AccLastTrnDateU,OldCuNo) 
      SELECT ACCTYPE,ACCNO,CUNO,CUNO,MEMNO,ACCOPENDT,ACCSPDESC,ACCSTAT,ACCSTATDT,ACCPSTAT,ACCBALANCE,ACCOPBAL,ACCLASTDT,CUNO 
      FROM A2ZCCULB.dbo.A2ZACC18 
      WHERE CUNO = @CuNo;
    
      INSERT INTO A2ZCSMCUS.dbo.A2ZACCOUNT(AccType,AccNo,CuType,CuNo,MemNo,AccOpenDate,AccSpecialNote,AccStatus,AccStatusDate,AccStatusP,AccBalance,AccOpeningBal,AccLastTrnDateU,OldCuNo) 
      SELECT ACCTYPE,ACCNO,CUNO,CUNO,MEMNO,ACCOPENDT,ACCSPDESC,ACCSTAT,ACCSTATDT,ACCPSTAT,ACCBALANCE,ACCOPBAL,ACCLASTDT,CUNO 
      FROM A2ZCCULB.dbo.A2ZACC20 
      WHERE CUNO = @CuNo;
                 
      INSERT INTO A2ZCSMCUS.dbo.A2ZACCOUNT(AccType,AccNo,CuType,CuNo,MemNo,AccOpenDate,AccSpecialNote,AccStatus,AccStatusDate,AccStatusP,AccBalance,AccOpeningBal,AccLastTrnDateU,OldCuNo) 
      SELECT ACCTYPE,ACCNO,CUNO,CUNO,MEMNO,ACCOPENDT,ACCSPDESC,ACCSTAT,ACCSTATDT,ACCPSTAT,ACCBALANCE,ACCOPBAL,ACCLASTDT,CUNO 
      FROM A2ZCCULB.dbo.A2ZACC21 
      WHERE CUNO = @CuNo;
     
      INSERT INTO A2ZCSMCUS.dbo.A2ZACCOUNT(AccType,AccNo,CuType,CuNo,MemNo,AccOpenDate,AccSpecialNote,AccStatus,AccStatusDate,AccStatusP,AccBalance,AccOpeningBal,AccLastTrnDateU,OldCuNo) 
      SELECT ACCTYPE,ACCNO,CUNO,CUNO,MEMNO,ACCOPENDT,ACCSPDESC,ACCSTAT,ACCSTATDT,ACCPSTAT,ACCBALANCE,ACCOPBAL,ACCLASTDT,CUNO 
      FROM A2ZCCULB.dbo.A2ZACC23 
      WHERE CUNO = @CuNo;
      
      INSERT INTO A2ZCSMCUS.dbo.A2ZACCOUNT(AccType,AccNo,CuType,CuNo,MemNo,AccOpenDate,AccSpecialNote,AccStatus,AccStatusDate,AccStatusP,AccBalance,AccOpeningBal,AccLastTrnDateU,OldCuNo) 
      SELECT ACCTYPE,ACCNO,CUNO,CUNO,MEMNO,ACCOPENDT,ACCSPDESC,ACCSTAT,ACCSTATDT,ACCPSTAT,ACCBALANCE,ACCOPBAL,ACCLASTDT,CUNO 
      FROM A2ZCCULB.dbo.A2ZACC24 
      WHERE CUNO = @CuNo;
    
      INSERT INTO A2ZCSMCUS.dbo.A2ZACCOUNT(AccType,AccNo,CuType,CuNo,MemNo,AccOpenDate,AccSpecialNote,AccStatus,AccStatusDate,AccStatusP,AccBalance,AccOpeningBal,AccLastTrnDateU,AccNoInstl,AccLoanInstlAmt,AccLoanLastInstlAmt,AccIntRate,AccLoanGrace,AccLoanSancAmt,AccLoanSancDate,AccDisbAmt,AccDisbDate,OldCuNo) 
      SELECT ACCTYPE,ACCNO,CUNO,CUNO,MEMNO,ACCOPENDT,ACCSPDESC,ACCSTAT,ACCSTATDT,ACCPSTAT,ACCBALANCE,ACCOPBAL,ACCLASTDT,ACCINSTNO,ACCINSTAMT,ACCLASTAMT,ACCINTRATE,ACCMORTMM,ACCDISBAMT,ACCDISBDT,ACCDISBAMT,ACCDISBDT,CUNO 
      FROM A2ZCCULB.dbo.A2ZACC51 
      WHERE CUNO = @CuNo;
   
      INSERT INTO A2ZCSMCUS.dbo.A2ZACCOUNT(AccType,AccNo,CuType,CuNo,MemNo,AccOpenDate,AccSpecialNote,AccStatus,AccStatusDate,AccStatusP,AccBalance,AccOpeningBal,AccLastTrnDateU,AccODIntDate,AccNoInstl,AccLoanInstlAmt,AccLoanLastInstlAmt,AccIntRate,AccLoanGrace,AccLoanSancAmt,AccLoanSancDate,AccDisbAmt,AccDisbDate,OldCuNo) 
      SELECT ACCTYPE,ACCNO,CUNO,CUNO,MEMNO,ACCOPENDT,ACCSPDESC,ACCSTAT,ACCSTATDT,ACCPSTAT,ACCBALANCE,ACCOPBAL,ACCLASTDT,ACCLASTDT,ACCINSTNO,ACCINSTAMT,ACCLASTAMT,ACCINTRATE,ACCMORTMM,ACCDISBAMT,ACCDISBDT,ACCDISBAMT,ACCDISBDT,CUNO 
      FROM A2ZCCULB.dbo.A2ZACC52 
      WHERE CUNO = @CuNo;
      
      INSERT INTO A2ZCSMCUS.dbo.A2ZACCOUNT(AccType,AccNo,CuType,CuNo,MemNo,AccOpenDate,AccSpecialNote,AccStatus,AccStatusDate,AccStatusP,AccBalance,AccOpeningBal,AccLastTrnDateU,AccNoInstl,AccLoanInstlAmt,AccLoanLastInstlAmt,AccIntRate,AccLoanGrace,AccLoanSancAmt,AccLoanSancDate,AccDisbAmt,AccDisbDate,OldCuNo) 
      SELECT ACCTYPE,ACCNO,CUNO,CUNO,MEMNO,ACCOPENDT,ACCSPDESC,ACCSTAT,ACCSTATDT,ACCPSTAT,ACCBALANCE,ACCOPBAL,ACCLASTDT,ACCINSTNO,ACCINSTAMT,ACCLASTAMT,ACCINTRATE,ACCMORTMM,ACCDISBAMT,ACCDISBDT,ACCDISBAMT,ACCDISBDT,CUNO 
      FROM A2ZCCULB.dbo.A2ZACC53 
      WHERE CUNO = @CuNo;
    
      INSERT INTO A2ZCSMCUS.dbo.A2ZACCOUNT(AccType,AccNo,CuType,CuNo,MemNo,AccOpenDate,AccSpecialNote,AccStatus,AccStatusDate,AccStatusP,AccBalance,AccOpeningBal,AccLastTrnDateU,AccNoInstl,AccLoanInstlAmt,AccLoanLastInstlAmt,AccIntRate,AccLoanGrace,AccLoanSancAmt,AccLoanSancDate,AccDisbAmt,AccDisbDate,OldCuNo) 
      SELECT ACCTYPE,ACCNO,CUNO,CUNO,MEMNO,ACCOPENDT,ACCSPDESC,ACCSTAT,ACCSTATDT,ACCPSTAT,ACCBALANCE,ACCOPBAL,ACCLASTDT,ACCINSTNO,ACCINSTAMT,ACCLASTAMT,ACCINTRATE,ACCMORTMM,ACCDISBAMT,ACCDISBDT,ACCDISBAMT,ACCDISBDT,CUNO 
      FROM A2ZCCULB.dbo.A2ZACC54 
      WHERE CUNO = @CuNo;


      UPDATE A2ZACCOUNT SET CuType=@CuType WHERE CuNo = @CuNo;



FETCH NEXT FROM wfAccTable INTO @CuType,@CuNo; 


END;	       
CLOSE wfAccTable; 
DEALLOCATE wfAccTable;

--
--EXECUTE Sp_CSAccountConversion2;
--EXECUTE Sp_CSAccountConversion3;

END;






















GO
