USE [A2ZCSMCUS]
GO
/****** Object:  StoredProcedure [dbo].[Sp_CSDeleteProvisionLOAN]    Script Date: 1/4/2018 1:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[Sp_CSDeleteProvisionLOAN](@AccType INT,@FuncOpt SMALLINT)  


AS

BEGIN

DECLARE @trnDate smalldatetime;

SET @trnDate = (SELECT ProcessDate FROM A2ZCSPARAMETER);

UPDATE A2ZACCOUNT SET A2ZACCOUNT.AccProvBalance = A2ZACCOUNT.AccPrevProvBalance,
A2ZACCOUNT.AccProvCalDate = A2ZACCOUNT.AccPrevProvCalDate
FROM A2ZACCOUNT,WFCSPROVISIONLOAN
WHERE A2ZACCOUNT.AccType = WFCSPROVISIONLOAN.AccType AND A2ZACCOUNT.AccNo = WFCSPROVISIONLOAN.AccNo AND 
A2ZACCOUNT.CuType = WFCSPROVISIONLOAN.CuType AND A2ZACCOUNT.CuNo = WFCSPROVISIONLOAN.CuNo AND 
A2ZACCOUNT.MemNo = WFCSPROVISIONLOAN.MemNo;

DELETE FROM A2ZTRANSACTION  WHERE AccType = @AccType AND FuncOpt = @FuncOpt AND TrnDate = @trnDate;

DELETE FROM WFCSPROVISIONLOAN  WHERE AccType = @AccType;

--TRUNCATE TABLE WFCSPROVISIONLOAN;

END;




GO
