USE [A2ZCSMCUS]
GO
/****** Object:  Table [dbo].[A2ZUSERCASHCODE]    Script Date: 11/21/2016 22:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A2ZUSERCASHCODE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdsNo] [int] NULL,
	[FromCashCode] [int] NULL CONSTRAINT [DF_A2ZUSERCASHCODE_FromCashCode]  DEFAULT ((0)),
	[FromCashCodeDesc] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Status] [tinyint] NULL,
 CONSTRAINT [PK_A2ZUSERCASHCODE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
