
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
EXECUTE Sp_rptGLTransactionVch 1 
*/


ALTER PROCEDURE [dbo].[Sp_rptGLTransactionVch] (@CommonNo1 tinyint) 
AS
BEGIN

SELECT     TOP (100) PERCENT dbo.A2ZTRANSACTION.VchNo, dbo.A2ZTRANSACTION.TrnFlag, SUM(dbo.A2ZTRANSACTION.GLDebitAmt) AS GLDebitAmt, 
                      SUM(dbo.A2ZTRANSACTION.GLCreditAmt) AS GLCreditAmt, dbo.A2ZTRANSACTION.UserID, dbo.A2ZTRANSACTION.VerifyUserID, 
                      A2ZGLMCUS.dbo.A2ZCGLMST.GLAccDesc, dbo.A2ZTRANSACTION.GLAccNo, dbo.A2ZTRANSACTION.TrnCSGL, dbo.A2ZTRANSACTION.TrnDate 
                      
FROM         dbo.A2ZTRANSACTION LEFT OUTER JOIN
                      A2ZGLMCUS.dbo.A2ZCGLMST ON dbo.A2ZTRANSACTION.GLAccNo = A2ZGLMCUS.dbo.A2ZCGLMST.GLAccNo
WHERE     (dbo.A2ZTRANSACTION.TrnCSGL = @CommonNo1)

GROUP BY dbo.A2ZTRANSACTION.VchNo, dbo.A2ZTRANSACTION.TrnFlag, dbo.A2ZTRANSACTION.UserID, dbo.A2ZTRANSACTION.VerifyUserID, 
                      A2ZGLMCUS.dbo.A2ZCGLMST.GLAccDesc, dbo.A2ZTRANSACTION.GLAccNo, dbo.A2ZTRANSACTION.TrnCSGL, dbo.A2ZTRANSACTION.TrnDate 
                     
ORDER BY dbo.A2ZTRANSACTION.GLAccNo
END
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

