USE [A2ZGLMCUS]
GO
/****** Object:  Table [dbo].[WF_REVERSETRANSACTION]    Script Date: 06/17/2017 13:18:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WF_REVERSETRANSACTION](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DelUserId] [int] NULL,
	[TrnDate] [smalldatetime] NULL,
	[VchNo] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VoucherNo] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL CONSTRAINT [DF_WF_REVERSETRANSACTION_VoucherNo1]  DEFAULT ((0)),
	[CuType] [smallint] NULL CONSTRAINT [DF_WF_REVERSETRANSACTION_CuType1]  DEFAULT ((0)),
	[CuNo] [int] NULL CONSTRAINT [DF_WF_REVERSETRANSACTION_CuNo]  DEFAULT ((0)),
	[MemNo] [int] NULL CONSTRAINT [DF_WF_REVERSETRANSACTION_MemNo]  DEFAULT ((0)),
	[AccType] [int] NULL CONSTRAINT [DF_WF_REVERSETRANSACTION_AccType]  DEFAULT ((0)),
	[AccNo] [bigint] NULL CONSTRAINT [DF_WF_REVERSETRANSACTION_AccNo]  DEFAULT ((0)),
	[FuncOpt] [smallint] NULL,
	[PayType] [int] NULL,
	[PayTypeDes] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TrnType] [int] NULL,
	[TrnDrCr] [tinyint] NULL CONSTRAINT [DF_WF_REVERSETRANSACTION_TrnDrCr]  DEFAULT ((0)),
	[TrnDesc] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TrnMode] [tinyint] NULL,
	[TrnCredit] [money] NULL CONSTRAINT [DF_WF_REVERSETRANSACTION_Credit]  DEFAULT ((0)),
	[TrnDebit] [money] NULL CONSTRAINT [DF_WF_REVERSETRANSACTION_Debit]  DEFAULT ((0)),
	[TrnInterestAmt] [money] NULL,
	[TrnDueIntAmt] [money] NULL,
	[ShowInterest] [tinyint] NULL CONSTRAINT [DF_WF_REVERSETRANSACTION_ShowInt]  DEFAULT ((0)),
	[TrnCSGL] [tinyint] NULL CONSTRAINT [DF_WF_REVERSETRANSACTION_TrnCSGL]  DEFAULT ((0)),
	[TrnGLAccNoDR] [int] NULL CONSTRAINT [DF_WF_REVERSETRANSACTION_GLAccNoDR]  DEFAULT ((0)),
	[TrnGLAccNoCR] [int] NULL CONSTRAINT [DF_WF_REVERSETRANSACTION_GLAccNoCR]  DEFAULT ((0)),
	[GLAccNo] [int] NULL CONSTRAINT [DF_WF_REVERSETRANSACTION_GLAccNo]  DEFAULT ((0)),
	[GLAmount] [money] NULL CONSTRAINT [DF_WF_REVERSETRANSACTION_GLAmount]  DEFAULT ((0)),
	[GLDebitAmt] [money] NULL CONSTRAINT [DF_WF_REVERSETRANSACTION_GLDebitAmt]  DEFAULT ((0)),
	[GLCreditAmt] [money] NULL CONSTRAINT [DF_WF_REVERSETRANSACTION_GLCreditAmt]  DEFAULT ((0)),
	[TrnFlag] [tinyint] NULL,
	[TrnSysUser] [tinyint] NULL CONSTRAINT [DF_WF_REVERSETRANSACTION_TrnSysUser]  DEFAULT ((0)),
	[TrnModule] [tinyint] NULL,
	[FromCashCode] [int] NULL CONSTRAINT [DF_WF_REVERSETRANSACTION_FromCashCode]  DEFAULT ((0)),
	[ValueDate] [smalldatetime] NULL,
	[UserID] [smallint] NULL,
	[TrnRevFlag] [smallint] NULL,
	[ProvAdjFlag] [int] NULL,
	[TrnID] [int] NULL,
	[TrnSign] [tinyint] NULL,
 CONSTRAINT [PK_WF_REVERSETRANSACTION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
