USE [A2ZCSMCUS]
GO
/****** Object:  Table [dbo].[WFCSRENEW6YR]    Script Date: 05/16/2017 20:11:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WFCSRENEW6YR](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CuType] [tinyint] NULL,
	[CuNo] [int] NULL,
	[MemNo] [int] NULL,
	[AccType] [tinyint] NULL,
	[AccNo] [bigint] NULL,
	[TrnCode] [int] NULL,
	[TrnDate] [smalldatetime] NULL,
	[VoucherNo] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccBalance] [money] NULL CONSTRAINT [DF_WFCSRENEW6YR_AccBalance]  DEFAULT ((0)),
	[AccOrgAmt] [money] NULL CONSTRAINT [DF_WFCSRENEW6YR_AccOrgAmt]  DEFAULT ((0)),
	[AccPrincipal] [money] NULL CONSTRAINT [DF_WFCSRENEW6YR_AccPrincipal]  DEFAULT ((0)),
	[AccIntRate] [smallmoney] NULL CONSTRAINT [DF_WFCSRENEW6YR_AccIntRate]  DEFAULT ((0)),
	[AccOpenDate] [smalldatetime] NULL,
	[AccRenwlDate] [smalldatetime] NULL,
	[AccAnniDate] [smalldatetime] NULL,
	[AccRenwlAmt] [money] NULL CONSTRAINT [DF_WFCSRENEW6YR_AccRenwlAmt]  DEFAULT ((0)),
	[AccPeriodMonths] [tinyint] NULL CONSTRAINT [DF_WFCSRENEW6YR_AccPeriodMonths]  DEFAULT ((0)),
	[AccMatureDate] [smalldatetime] NULL,
	[AccNoAnni] [smallint] NULL CONSTRAINT [DF_WFCSRENEW6YR_AccNoAnni]  DEFAULT ((0)),
	[AccNoRenwl] [smallint] NULL CONSTRAINT [DF_WFCSRENEW6YR_AccNoRenwl]  DEFAULT ((0)),
	[CalAdjProvCr] [money] NULL,
	[CalAdjProvDr] [money] NULL,
	[CalInterest] [money] NULL CONSTRAINT [DF_WFCSRENEW6YR_CalInterest]  DEFAULT ((0)),
	[CalLastIntCr] [money] NULL,
	[CalInterestPaid] [money] NULL CONSTRAINT [DF_WFCSRENEW6YR_CalInterestPaid]  DEFAULT ((0)),
	[CalInterestDue] [money] NULL CONSTRAINT [DF_WFCSRENEW6YR_CalInterestDue]  DEFAULT ((0)),
	[CalCurrentAmt] [money] NULL CONSTRAINT [DF_WFCSRENEW6YR_CalCurrentAmt]  DEFAULT ((0)),
	[NewIntRate] [smallmoney] NULL CONSTRAINT [DF_WFCSRENEW6YR_NewIntRate]  DEFAULT ((0)),
	[NewNoRenwl] [smallint] NULL,
	[NewNoAnni] [smallint] NULL,
	[NewRenwlDate] [smalldatetime] NULL,
	[NewRenwlAmt] [money] NULL,
	[NewMatureDate] [smalldatetime] NULL,
	[NewPeriodMonths] [tinyint] NULL CONSTRAINT [DF_WFCSRENEW6YR_AccPeriodMonths1]  DEFAULT ((0)),
	[FDAmount] [money] NULL,
	[FuncOpt] [smallint] NULL,
	[PayType] [smallint] NULL,
	[TrnDesc] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TrnType] [tinyint] NULL,
	[TrnDrCr] [tinyint] NULL,
	[TrnContraDrCr] [tinyint] NULL,
	[ShowInterest] [tinyint] NULL,
	[TrnGLAccNoDr] [int] NULL,
	[TrnGLAccNoCr] [int] NULL,
	[CalFromDate] [smalldatetime] NULL,
	[NoDays] [int] NULL CONSTRAINT [DF_WFCSRENEW6YR_NoDays]  DEFAULT ((0)),
	[CuNumber] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MemName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TrnUpdate] [tinyint] NULL CONSTRAINT [DF_WFCSRENEW6YR_TrnUpdate]  DEFAULT ((0)),
	[ProcStat] [tinyint] NULL,
	[InputBy] [smallint] NULL CONSTRAINT [DF_WFCSRENEW6YR_InputBy]  DEFAULT ((0)),
	[VerifyBy] [smallint] NULL CONSTRAINT [DF_WFCSRENEW6YR_VerifyBy]  DEFAULT ((0)),
	[ApprovBy] [smallint] NULL CONSTRAINT [DF_WFCSRENEW6YR_ApprovBy]  DEFAULT ((0)),
	[InputByDate] [datetime] NULL,
	[VerifyByDate] [datetime] NULL,
	[ApprovByDate] [datetime] NULL,
	[UserId] [smallint] NULL CONSTRAINT [DF_WFCSRENEW6YR_UserId]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL CONSTRAINT [DF_WFCSRENEW6YR_CreateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_WFCSRENEW6YR] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
