USE [A2ZGLMCUS]
GO
/****** Object:  Table [dbo].[WFEDITA2ZTRANSACTION]    Script Date: 05/20/2017 12:52:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WFEDITA2ZTRANSACTION](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BatchNo] [int] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_BatchNo]  DEFAULT ((0)),
	[TrnDate] [smalldatetime] NULL,
	[VchNo] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VoucherNo] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CuType] [smallint] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_CuType]  DEFAULT ((0)),
	[CuNo] [int] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_CuNo]  DEFAULT ((0)),
	[MemNo] [int] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_MemNo]  DEFAULT ((0)),
	[AccType] [int] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_AccType]  DEFAULT ((0)),
	[AccNo] [bigint] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_AccNo]  DEFAULT ((0)),
	[FuncOpt] [smallint] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_FuncOpt]  DEFAULT ((0)),
	[FuncOptDesc] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PayType] [int] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_PayType]  DEFAULT ((0)),
	[TrnType] [tinyint] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_TrnType]  DEFAULT ((0)),
	[TrnDrCr] [tinyint] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_TrnDrCr]  DEFAULT ((0)),
	[TrnDebit] [money] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_TrnDebit]  DEFAULT ((0)),
	[TrnCredit] [money] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_TrnCredit]  DEFAULT ((0)),
	[TrnDesc] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TrnVchType] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TrnChqPrx] [nvarchar](7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TrnChqNo] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_TrnChqNo]  DEFAULT ((0)),
	[ShowInterest] [tinyint] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_ShowInterest]  DEFAULT ((0)),
	[TrnInterestAmt] [money] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_TrnInterestAmt]  DEFAULT ((0)),
	[TrnPenalAmt] [money] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_TrnPenalAmt]  DEFAULT ((0)),
	[TrnChargeAmT] [money] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_TrnChargeAmT]  DEFAULT ((0)),
	[TrnDueIntAmt] [money] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_TrnDueIntAmt]  DEFAULT ((0)),
	[TrnODAmount] [money] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_TrnODAmount]  DEFAULT ((0)),
	[BranchNo] [int] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_BranchNo]  DEFAULT ((0)),
	[TrnCSGL] [tinyint] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_TrnCSGL]  DEFAULT ((0)),
	[TrnGLAccNoDr] [int] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_TrnGLAccNoDr]  DEFAULT ((0)),
	[GLAccDrDesc] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TrnGLAccNoCr] [int] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_TrnGLAccNoCr]  DEFAULT ((0)),
	[GLAccCrDesc] [varchar](70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TrnGLFlag] [tinyint] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_TrnGLFlag]  DEFAULT ((0)),
	[GLAccNo] [int] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_GLAccNo]  DEFAULT ((0)),
	[GLAmount] [money] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_GLAmount]  DEFAULT ((0)),
	[GLDebitAmt] [money] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_GLDebitAmt]  DEFAULT ((0)),
	[GLCreditAmt] [money] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_GLCreditAmt]  DEFAULT ((0)),
	[TrnFlag] [tinyint] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_TrnFlag]  DEFAULT ((0)),
	[TrnStatus] [tinyint] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_TrnStatus]  DEFAULT ((0)),
	[FromCashCode] [int] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_FromCashCode]  DEFAULT ((0)),
	[TrnProcStat] [tinyint] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_TrnProcStat]  DEFAULT ((0)),
	[TrnSysUser] [tinyint] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_TrnSysUser]  DEFAULT ((0)),
	[TrnModule] [tinyint] NULL,
	[ValueDate] [smalldatetime] NULL,
	[GLSlmCode] [int] NULL,
	[UserIP] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UserID] [int] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_UserID]  DEFAULT ((0)),
	[VerifyUserID] [int] NULL CONSTRAINT [DF_WFEDITA2ZTRANSACTION_VerifyUserID]  DEFAULT ((0)),
	[CreateDate] [datetime] NULL,
	[EditId] [int] NULL,
 CONSTRAINT [PK_WFEDITA2ZTRANSACTION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF