USE [A2ZCSMCUS]
GO
/****** Object:  Table [dbo].[WFCSLEDGERBALANCE]    Script Date: 11/21/2015 11:19:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WFCSLEDGERBALANCE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CuType] [smallint] NULL,
	[CuNo] [int] NULL CONSTRAINT [DF_WFCSLEDGERBALANCE_DepositeAmt]  DEFAULT ((0)),
	[MemNo] [int] NULL CONSTRAINT [DF_WFCSLEDGERBALANCE_Period]  DEFAULT ((0)),
	[MemName] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL CONSTRAINT [DF_WFCSLEDGERBALANCE_MaturedAmt]  DEFAULT ((0)),
	[AccNo] [bigint] NULL CONSTRAINT [DF_WFCSLEDGERBALANCE_IntRate]  DEFAULT ((0)),
	[OpenDate] [smalldatetime] NULL CONSTRAINT [DF_WFCSLEDGERBALANCE_PenalAmt]  DEFAULT ((0)),
	[Status] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL CONSTRAINT [DF_WFCSLEDGERBALANCE_BonusAmt]  DEFAULT ((0)),
	[LastTrnDate] [smalldatetime] NULL,
	[Balance] [money] NULL,
 CONSTRAINT [PK_WFCSLEDGERBALANCE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
