<?xml version="1.0"?>
<configuration>
	<system.diagnostics>
		<trace autoflush="true" indentsize="0">
			<listeners>
				<!--add name="MyListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\temp\webmail6.log"/-->
			</listeners>
		</trace>
	</system.diagnostics>
	<appSettings>
		<add key="dataFolderPath" value="App_Data\"/>
	</appSettings>
	<system.web>
		<httpRuntime maxRequestLength="32768" executionTimeout="3600"/>
		<compilation defaultLanguage="c#" debug="false"/>
		<customErrors mode="Off"/>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="60"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<xhtmlConformance mode="Legacy"/>
	</system.web>
</configuration>
