USE [A2ZCSMCUS]
GO
/****** Object:  Table [dbo].[A2ZBALANCECHECK]    Script Date: 10/30/2016 11:38:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A2ZBALANCECHECK](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccAtyClass] [int] NULL,
	[AccType] [int] NULL CONSTRAINT [DF_A2ZBALANCECHECK_AccType]  DEFAULT ((0)),
	[TrnCode] [int] NULL CONSTRAINT [DF_A2ZBALANCECHECK_TrnCode]  DEFAULT ((0)),
	[TrnDes] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LedgerBalance] [money] NULL CONSTRAINT [DF_A2ZBALANCECHECK_LedgerBalance]  DEFAULT ((0)),
	[JournalBalance] [money] NULL CONSTRAINT [DF_A2ZBALANCECHECK_JournalBalance]  DEFAULT ((0)),
	[DefferlBalance] [money] NULL CONSTRAINT [DF_A2ZBALANCECHECK_DefferlBalance]  DEFAULT ((0)),
 CONSTRAINT [PK_A2ZBALANCECHECK_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
