USE [A2ZCSMCUS]
GO
/****** Object:  Table [dbo].[WFABNTRANSACTION]    Script Date: 09/04/2016 13:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WFABNTRANSACTION](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrnDate] [smalldatetime] NULL,
	[VchNo] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CuType] [smallint] NULL CONSTRAINT [DF_WFABNTRANSACTION_CuType]  DEFAULT ((0)),
	[CuNo] [int] NULL CONSTRAINT [DF_WFABNTRANSACTION_CuNo]  DEFAULT ((0)),
	[MemNo] [int] NULL CONSTRAINT [DF_WFABNTRANSACTION_MemNo]  DEFAULT ((0)),
	[AccType] [int] NULL CONSTRAINT [DF_WFABNTRANSACTION_AccType]  DEFAULT ((0)),
	[AccNo] [bigint] NULL CONSTRAINT [DF_WFABNTRANSACTION_AccNo]  DEFAULT ((0)),
 CONSTRAINT [PK_WFABNTRANSACTION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
