USE [A2ZHRMCUS]
GO
/****** Object:  Table [dbo].[WFLEAVEAPPROVE]    Script Date: 04/04/2019 13:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WFLEAVEAPPROVE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[EmpIdsNo] [int] NULL,
	[EmpCashCode] [int] NULL CONSTRAINT [DF_WFLEAVEAPPROVE_FromCashCode]  DEFAULT ((0)),
	[CashCodeDesc] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RegFlg] [int] NULL,
	[EmpDesignation] [int] NULL CONSTRAINT [DF_WFLEAVEAPPROVE_EmpDesignation]  DEFAULT ((0)),
 CONSTRAINT [PK_WFLEAVEAPPROVE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

--------------
ALTER TABLE A2ZHRMCUS..A2ZEMPLEAVE ADD LInputeBy INT;
ALTER TABLE A2ZHRMCUS..A2ZEMPLEAVE ADD LInputeDate smalldatetime;
ALTER TABLE A2ZHRMCUS..A2ZEMPLEAVE ADD LCheckBy INT;
ALTER TABLE A2ZHRMCUS..A2ZEMPLEAVE ADD LCkeckDate smalldatetime;
ALTER TABLE A2ZHRMCUS..A2ZEMPLEAVE ADD LVerifyBy INT;
ALTER TABLE A2ZHRMCUS..A2ZEMPLEAVE ADD LVerifyDate smalldatetime;
ALTER TABLE A2ZHRMCUS..A2ZEMPLEAVE ADD Status INT;
ALTER TABLE A2ZHRMCUS..A2ZEMPLEAVE ADD Porpus NVARCHAR(20);
ALTER TABLE A2ZHRMCUS..A2ZEMPLEAVE ADD Note NVARCHAR(50);